@mixin posicion {
  display: flex;
  justify-content: center;
}

*{
  margin:0px;
  padding: 0px;
  font-family: monospace;
  box-sizing: border-box;
}

h1{
  text-align: center; 
  margin-top: 20px;
}

.contenedor{
  @include posicion();
  margin: 20px;

  input{
    display: none;
  }

  &-pokemon{
    align-items: center;
    margin: 10px;
    padding: 10px;

    &-imgPokeball{
      width: 150px;
      height: 150px;
      margin: 15px;
    }

    &-imgPokemon{
      display: none;
      width: 200px;
      height: 200px;
      margin: 15px;
    }

    p{
      display: none;
      background-color: #000000;
      color: #ffffff;
      text-align: center;
      width: 150px;
      margin: auto;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.boton{
  @include posicion();

  button{
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
  }
}

button:hover{
  color: #000000;
  background-color: #ffffff;
}
